<div class="planilha-container">
  <h2>Planilha de Gastos Novembro</h2>

  <button type="button" class="btn" style="background-color: #00D476; font-weight: bold" (click)="abrirModal()">Adicionar</button>

  <div class="modal" [ngClass]="{'modal-show': modalAberto}">
    <div class="modal-content">
      <span class="close" (click)="fecharModal()">&times;</span>
      <h3>Adicionar</h3>
      <div class="form-gastos">
        <input type="text" class="form-control" [(ngModel)]="descricao" placeholder="Descrição">

        <select class="form-control" [(ngModel)]="categoria">
          <option value="" disabled selected>Selecione uma opção</option>
          <option value="1">Despesa</option>
          <option value="2">Gasto Inesperado</option>
          <option value="3">Lazer</option>
          <option value="4">Investimento</option>
          <option value="5">Poupança</option>
        </select>

        <div class="input-group">
          <input type="number" class="form-control" [(ngModel)]="valor" placeholder="Valor" min="0">
        </div>

        <button type="button" class="btn" (click)="adicionarOuEditarGasto()">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="gastos-list">
    <h1>Gastos Registrados</h1>
    <table>
      <thead>
      <tr>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let gasto of gastos">
        <td>{{ gasto.descricao }}</td>
        <td>{{ getCategoria(gasto.categoria) }}</td>
        <td>{{ gasto.valor | currency:'BRL' }}</td>
        <td>
          <button style="background-color: #4169E1;" (click)="editarGasto(gasto)">Editar</button>
          <button style="background-color: #FF0000FF;" (click)="excluirGasto(gasto)">Excluir</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="total">
      <strong>Total: {{ totalGastos | currency:'BRL' }}</strong>
    </div>
  </div>
</div>
