<div class="fullscreen">
  <nav class="navbar">
    <div class="nav-icons">
      <a href="https://www.instagram.com/seliprinr" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="https://www.linkedin.com/in/rseliprin" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
      <a href="https://github.com/seliprinr" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
    </div>
  </nav>

  <div class="split-container">
    <div class="left-side">
      <img src="/assets/images/login_left-side.png" alt="Left Side Img">
    </div>
    <div class="right-side">
      <h1 id="login-title">Bem-vindo à<br> Lucky Wallet🍀</h1>
      <p id="login-subtitle">Entre agora e comece a organizar suas Finanças!</p>
      <div class="card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-login">
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Digite seu Usuário">
            <input type="password" formControlName="password" id="password" class="form-control" placeholder="Digite sua Senha">
          </div>
          <div class="submit-forget">
            <button type="submit" class="btn">Entrar</button>
            <a style="font-size: small" [routerLink]="'/tela-recuperar-senha'">Esqueci minha senha</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
