<div class="carteira-digital">
  <div class="card bg-dark text-white" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">HAPV3</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">R$ 3,02</li>
      <li class="list-group-item text-success">+ 2,37%</li>
      <li class="list-group-item">Próximo relatório: 26 de março</li>
    </ul>
    <div class="card-body">
      <a href="https://www.b3.com.br/pt_br/para-voce" target="_blank" class="card-link">Comprar ações</a>
    </div>
  </div>
  <div class="card bg-dark text-white" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">BBAS3</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">R$ 25,85</li>
      <li class="list-group-item text-success">+ 0,54%</li>
      <li class="list-group-item">Próximo relatório: 29 de fevereiro</li>
    </ul>
    <div class="card-body">
      <a href="https://www.b3.com.br/pt_br/para-voce" target="_blank"  class="card-link">Comprar ações</a>
    </div>
  </div>
  <div class="card bg-dark text-white" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">ABEV3</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">R$ 12,43</li>
      <li class="list-group-item text-success">+ 0,08%</li>
      <li class="list-group-item">Próximo relatório: 27 de fevereiro</li>
    </ul>
    <div class="card-body">
      <a href="https://www.b3.com.br/pt_br/para-voce" target="_blank"  class="card-link">Comprar ações</a>
    </div>
  </div>
  <div class="card bg-dark text-white" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">GOLL4</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">R$ 1,35</li>
      <li class="list-group-item text-success">+ 10,66%</li>
      <li class="list-group-item">Próximo relatório: 5 de março</li>
    </ul>
    <div class="card-body">
      <a href="https://www.b3.com.br/pt_br/para-voce" target="_blank"  class="card-link">Comprar ações</a>
    </div>
  </div>
</div>
