<nav class="navbar">
  <div class="navbar-content">
    <div class="logo">
      <h1>Lucky Wallet 🍀</h1>
    </div>
    <div class="user-info">
      <img src="/assets/images/user_photo.jpg" alt="User Photo">
      <p>Seja bem-vindo, Rodrigo!</p>
      <a href="#" class="logout">Sair</a>
    </div>
  </div>
</nav>


  <div class="container-user">
    <div class="panel">
      <div class="btn-group-vertical w-100" role="group" aria-label="Opções">
        <button type="button" class="btn btn-light btn-option" (click)="navegarPara('gastos-mensais')">Gastos Mensais</button>
        <button type="button" class="btn btn-light btn-option" (click)="navegarPara('carteira-digital')">Carteira Digital</button>
        <button type="button" class="btn btn-light btn-option" (click)="navegarPara('cotacao-atual')">Cotação Atual</button>
      </div>

      <footer class="footer">
        © Seliprin - Todos os direitos reservados.
      </footer>
    </div>

    <div class="main-app">
      <router-outlet></router-outlet>
    </div>
  </div>
